<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenido</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
      .bg-img{
    background: url("/background-bienvenido1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    }
    </style>
</head>
<body class="bg-img">
    <div class="w-[100vw] h-[100vh]  flex flex-wrap justify-center items-center"> 
    <div class="overflow-y-auto w[25%] position-absolute">
        <div class=" p-4 text-center sm:items-center sm:p-0 justify-center ">
          <div class="relative transform overflow-hidden rounded-lg bg-b text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-lg">
            <div class="bg-white px-4 pb-4 pt-5 sm:p-6 sm:pb-4">
              <div class="sm:flex sm:items-start">
                
                <div class="mt-3 text-center sm:ml-4 sm:mt-0 sm:text-left">
                  <h3 class="text-center font-semibold leading-6 text-blue-900" id="modal-title">Bienvenido a Sermedica</h3>
                  <div class="mt-2">
                    <p class="text-sm text-black-200">Si esta interesado en los servicios familiares que ofrecemos haga click en personal. 
                        Si esta buscando la mejor atencion en medicina ocupacional para su empresa, haga click en Empresa.</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="bg-gray-50 px-4 py-3 sm:flex sm:flex-row-reverse sm:px-6 justify-center">
              <a href="/empresas/inicio"> <button  type="button" class="inline-flex w-full justify-center rounded-md bg-green-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-blue-500 sm:ml-3 sm:w-auto">Empresa</button>
            <a href="/usuarios/inicio"> <button type="button" class="inline-flex w-full justify-center rounded-md bg-green-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-blue-500 sm:ml-3 sm:w-auto">Personal</button>
            </div>
          </div>
        </div>
      </div>
</body>
</html>