<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Empresas</title>
    <script src="https://cdn.tailwindcss.com"></script>

    <link rel="stylesheet" href="/styles">
</head>
<body>
    <nav class="bg-green-800">
        <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
          <div class="relative flex h-16 items-center justify-between">
            <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">

              <button type="button" class="relative inline-flex items-center justify-center rounded-md p-2 text-gray-400 hover:bg-gray-700 hover:text-white focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white" aria-controls="mobile-menu" aria-expanded="false">
                <span class="absolute -inset-0.5"></span>
                <span class="sr-only">Open main menu</span>
                <!--
                  Icon when menu is closed.
      
                  Menu open: "hidden", Menu closed: "block"
                -->
                <svg class="block h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
                </svg>
                <!--
                  Icon when menu is open.
      
                  Menu open: "block", Menu closed: "hidden"
                -->
                <svg class="hidden h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                </svg>
              </button>
            </div>
            <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
              <div class="flex flex-shrink-0 items-center">
              
              </div>
              <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
                <div class="flex flex-shrink-0 items-center">
                  <img class="h-12 w-auto " src="/logo-navbar.png" alt="Your Company">
                </div>
              <div class="hidden sm:ml-6 sm:block">
                <div class="flex space-x-4">
                  <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
                  <a href="/bienvenido/inicio" class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white">Inicio</a>
                  <a href="/empresas/inicioNosotros#" class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white">Nosotros</a>
                  <a href="/empresas/inicio#Servicios" class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white">Servicios</a>
                  <a href="/empresas/inicio#footer" class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white">Contacto</a>
                  <a href="/empresas/blog" class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white">blog</a>
                  <a href="/empresas/faqs" class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white">faqs</a>
                </div>
              </div>
            </div>
            
                
      
        <!-- Mobile menu, show/hide based on menu state. -->
        <div class="sm:hidden" id="mobile-menu">
          <div class="space-y-1 px-2 pb-3 pt-2">
            <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
            <a href="#" class="block rounded-md bg-gray-900 px-3 py-2 text-base font-medium text-white" aria-current="page">Dashboard</a>
            <a href="#" class="block rounded-md px-3 py-2 text-base font-medium text-gray-300 hover:bg-gray-700 hover:text-white">Team</a>
            <a href="#" class="block rounded-md px-3 py-2 text-base font-medium text-gray-300 hover:bg-gray-700 hover:text-white">Projects</a>
            <a href="#" class="block rounded-md px-3 py-2 text-base font-medium text-gray-300 hover:bg-gray-700 hover:text-white">Calendar</a>
          </div>
        </div>
      </nav> 

      <div>
        <header class="header" id="head">
            
           <img src="/sermedica_logos.png" width="400" class="foto-perfil" id="foto-perfil">
         
            
            
            
         
        </header>
      </div>
    </header>
   


    
    <h2 class="text-4xl font-bold text-blue-900 text-center mt-8">Bienvenido a Sermedica</h2 id="nosotros">
            <p class="descripcion mt-8 mb-8">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe aperiam atque, eligendi corporis officia mollitia obcaecati eveniet ipsam magni ullam totam, repudiandae pariatur est laudantium animi fuga veniam. Labore magnam nisi non cumque voluptatem quibusdam nihil nostrum, unde nulla doloremque harum ipsa odit quia? A deserunt, adipisci accusamus voluptates sapiente deleniti aut optio quidem incidunt quae atque ratione eveniet consectetur rem amet iure ab tempora necessitatibus maxime ea! Dolor, in quidem quod obcaecati veritatis voluptate.
            </p>

                
                <div class="bg-gray-100">
                  <div class="mx-auto">
                      <div class="mx-auto max-w-2xl py-16 sm:py-24 lg:max-w-none lg:py-32">
                        <h2 class="text-4xl font-bold text-gray-900 text-center">Nuestros servicios Empresariales</h2>
                
                
                        <div class="ful-img" id="fulImgBox">
                        <img src="/consultas.png" id="fulImg" alt="img">
                        <span onclick="closeImg()">X</span>
                        </div>
            
                <div class="img-gallery">
                    <img src="/empresariales1.png" onclick="openFulImg(this.src)" alt="">
                    <img src="/empresariales2.png" onclick="openFulImg(this.src)" alt="">
                    <img src="/empresariales3.png" onclick="openFulImg(this.src)" alt="">
                  
                    </div>
                    
                    <div>
                  
                <main class="informacion">
                   <div class="videoContainer">
                    
                    <video src="/empresa1.mp4" id="video1">
                      
                  </video>
                  <img src="/play2.png" alt="20px" class="imgbtn" width="60%" height="auto" id="1" onclick="playVideo('1', this)">
                    </div>
                    <div class="videoContainer">
                    
                      <video src="/personal.mp4" id="video2">
                        
                    </video>
                    <img src="/play2.png" alt="20px" class="imgbtn" width="60%" height="auto" id="2" onclick="playVideo('2', this)">
                      </div>
                      <div class="videoContainer">
                    
                        <video src="/nosotros.mp4" id="video3">
                          
                      </video>
                      <img src="/play2.png" alt="20px" class="imgbtn" width="60%" height="auto" id="3" onclick="playVideo('3', this)">
                        </div>
           </main>
           
      </div>
</div>
    
        

  
<footer class="footer bg-green-800"  id="footer ">
  <div class="footer-section"> 
      
    <h2 class="text-3xl font-bold tracking-tight text-gray-100 sm:text-4xl text-center">Contacto</h2>
      <a target="_blank" href="tel:+584243180116">
        <label for="" class="block text-sm font-semibold leading-6 text-gray-100 text-center">+584243180116</label>
      </a>
      <a target="_blank" href="https://wa.me/+584243180116">
        <label  class="block text-sm font-semibold leading-6 text-gray-100 text-center">+584243180116</label>
          <a target="_blank" href="mailto:adrian22aboitesbarco@gmail.com">
            <label for="" class="block text-sm font-semibold leading-6 text-gray-100 text-center">adrian22aboitesbarco@gmail.com</label></a>
      </a>
  </div>

  
  <div class="footer-section">
    <form class="form-section">
      <h3 class="text-base font-semibold leading-6 text-gray-100" id="modal-title">Para mayor informacion escriba su correo y dejenos un comentario</h3>
       <input type="email" name="email" id="email">
      <textarea name="mensaje" id="mensaje"
           placeholder="Escribe tu mensaje">
      </textarea>
      <button type="submit" id="enviar " class="text-gray-100 bg-green-600">Enviar</button>

  </form>
     
      
  

  
  
  </div>

  <div class="footer-section">
  
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3926.1595180674753!2d-67.59266022623243!3d10.248715568708239!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e803ca15d85bca1%3A0x6ef279dae8f9e9db!2sTorre%20Sindoni%2C%20Calle%201%2C%20Maracay%202101%2C%20Aragua!5e0!3m2!1ses!2sve!4v1726783246395!5m2!1ses!2sve" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      
  </div>

</footer>

</div>
  
  </footer>

</div>

<script src="/js"></script>

<script>

document.addEventListener('DOMContentLoaded', ()=>{
  async function saveMensajes(event) {
      event.preventDefault();
      
      var mensajesEmail = document.getElementById("email");
      var mensajesText = document.getElementById("mensaje");
     

      try {
        
          var response = await fetch('/api/create/mensajes', {
              method: 'POST',
              headers: {
                  'Content-Type': 'application/json'
              },
              body: JSON.stringify({ email: mensajesEmail.value, mensajes: mensajesText.value, tipo: "empresa" })
          });

          if (response.ok) {
              mensajesEmail.value = '';
              mensajesText.value = '';
              alert("su mensaje ha sido enviado")
              
          } else {
              console.error('Error creating mensajes:', response.statusText);
          }
      } catch (error) {
          console.error('Error creating mensajes:', error);
      }
    }

    document.getElementById("enviar").addEventListener("click", saveMensajes);
    
   
  
})

</script>

</body>
</html>